---
import User from "../assets/Icon/User.astro";
import Image from "astro/components/Image.astro";
import Me from "../assets/me.webp";
---

<section class="section_about" id="sobre-mi">
    <div class="section_about__container">
        <h1 class="about-title">
            <User class="w-10 h-10" />Sobre m칤
        </h1>
        <article class="section_about_info_details">
            <div class="about_image">
                <Image src={Me} alt="Lionel Erix" class="about_img"/>
            </div>
            <div class="info_user">
                <p class="info_name">Lionel Erix</p>
                <p class="info_text">
                    游눹 Hola, soy Lionel Erix, un apasionado del desarrollo web con formaci칩n en Computaci칩n e Informaci칩n gracias a PRONABEC. Mi inter칠s por la tecnolog칤a comenz칩 de manera autodidacta, explorando diversas herramientas y metodolog칤as. A lo largo de mi formaci칩n, he trabajado en proyectos personales y acad칠micos, aplicando buenas pr치cticas de desarrollo y utilizando metodolog칤as 치giles como Scrum para optimizar la gesti칩n del trabajo.
                </p>
                <p class="info_text">
                    游 Tengo experiencia en el desarrollo de aplicaciones web utilizando tecnolog칤as como Java, Spring Boot y frameworks modernos de frontend, priorizando la escalabilidad, el rendimiento y la seguridad. Me motiva analizar problemas complejos y dise침ar soluciones eficientes, combinando tecnolog칤a con estrategias 칩ptimas de desarrollo. Siempre estoy en b칰squeda de nuevos desaf칤os y oportunidades para seguir aprendiendo, mejorando mis habilidades y aplicando mis conocimientos en proyectos innovadores.
                </p>
            </div>
        </article>
    </div>
</section>

<style>
    .section_about {
        padding-inline: clamp(1rem, 5vw, 80px);
        max-width: 100%;
        margin-top: 4rem;
        margin-bottom: 5rem;
        font-family: "Poppins",sans-serif;
    }
    .about-title {
        font-size: 2rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 2rem;
    }
    .section_about_info_details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        background: #674b54;
        padding: 30px;
        border-radius: 20px;
    }
    .about_image {
        width: 100%;
        height: 100%;
    }
    .about_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .info_user {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #fff; /* Texto blanco para contraste con fondo oscuro */
    }
    .info_name {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
    }
    .info_text {
        margin: 0;
        line-height: 1.6; /* Mejor legibilidad */
        max-width: 100%; /* Evita desbordamiento */
    }
    @media (max-width: 830px) {
        .section_about{
            margin-top: 4rem;
            margin-bottom: 5rem;
        }
        .section_about_info_details {
            grid-template-columns: 1fr; 
        }
        .about_img {
            width: 100%;
            height: auto;
        }
        .info_text{
            font-size: 0.90rem;
        }
    }
</style>