---
import Tecnologias from "./Tecnologias.astro"
---
<section class="section-flayer">
    <article class="section-flayer__container">
        <div class="sectio-flayer__descripcion">
            <span class="descripcion">
                Desde APIs robustas hasta interfaces intuitivas, pasando por
                despliegues eficientes. Aplico metodologías ágiles para
                garantizar proyectos escalables, colaborativos y alineados con
                las necesidades del negocio.
            </span>
        </div>
    </article>
</section>
<style>
    .section-flayer {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section-flayer__container {
        background: #2e9fb1;
        border-radius: 20px;
        max-width: 100%;
        height: 100%;
        padding: 20px;
        
    }
    .descripcion {
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
        width: fit-content;

    }
</style>
