---
import Image from "astro/components/Image.astro";
import miniproyects from "../assets/miniproyects.webp";
import profile from "../assets/profile.webp";
import Figma from "../assets/Icon/Figma.astro";
import GitHub from "../assets/Icon/GitHub.astro";
import LinkedIn from "../assets/Icon/LinkedIn.astro";
import Youtube from "../assets/Icon/Youtube.astro";
import X from "../assets/Icon/X.astro";
import WhastApp from "../assets/Icon/WhastApp.astro";
import Valores from "../components/Valores.astro";
---

<section class="section-hero">
    <div class="section-hero__container">
        <article class="section-hero__info-user">
            <header>
                <p class="estado">DISPONIBLE PARA TRABAJAR</p>
                <h1 class="title__especialidad">
                    ¡Hola! Soy un Desarrollador FullStack.
                </h1>
            </header>
            <p class="info__descripcion">
                Desarrollador Full-Stack Jr, apasionado por crear soluciones
                innovadoras y escalables. Transformo ideas en proyectos reales
                con código limpio, arquitecturas eficientes y las mejores
                tecnologías.
            </p>
            <a
                href="/CV_Lionel.pdf"
                download="CV_Lionel_Orihuela.pdf"
                class="info__descarga">Descarga mi CV</a
            >
        </article>
        <article class="section-hero__info-image">
            <div class="mini__project">
                <Image src={miniproyects} alt="" class="imagen-miniprojects" />
                <div class="info_user_project">
                    <div class="info_user_project__details">
                        <span>@LiooDev</span>
                        <span>Perú | LATAM</span>
                    </div>
                    <a
                        href="#proyectos"
                        class="info_user_project__direct-projects">Proyectos</a
                    >
                </div>
            </div>
            <div class="photo__profile">
                <Image src={profile} alt="" class="image-profile" />
            </div>
            <div class="desc">
                <div class="desc_container">
                    <span class="desc_text">
                        Transformando ideas en soluciones técnicas robustas con
                        excelente UX.
                    </span>
                    <Valores />
                </div>
            </div>
            <div class="social__media">
                <a
                    href="https://www.figma.com/@lioodev"
                    class="item"
                    target="_blank"
                >
                    <Figma />
                </a>
                <a
                    href="https://github.com/LionelOrh"
                    class="item"
                    target="_blank"
                >
                    <GitHub />
                </a>
                <a
                    href="https://www.linkedin.com/in/lionelorcab/"
                    class="item"
                    target="_blank"
                >
                    <LinkedIn />
                </a>
                <a
                    href="https://www.youtube.com/@lioodev-Orh"
                    class="item"
                    target="_blank"
                >
                    <Youtube />
                </a>
                <a href="#" class="item" target="_blank">
                    <X />
                </a>
                <a
                    href="https://wa.me/51907992645"
                    class="item"
                    target="_blank"
                >
                    <WhastApp />
                </a>
            </div>
        </article>
    </div>
</section>
<style>
    /* Estilos ordenados según la estructura de etiquetas HTML */
    .section-hero {
        display: flex;
        width: 100%;
        height: 100dvh;
        align-items: center;
    }

    .section-hero__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-inline: clamp(1rem, 5vw, 80px);
        gap: 20px;
    }

    .section-hero__info-user {
        max-width: 80%;
    }

    .estado {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        font-weight: 600;
        color: #2ecc71;
        padding: 10px;
        background: #b2e4dc;
        border-radius: 20px;
        margin: 0;
    }

    .estado::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: currentColor;
        border-radius: 50%;
        animation: pulse 1.5s infinite;
    }

    @keyframes pulse {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0.3;
            transform: scale(0.9);
        }
    }

    .title__especialidad {
        font-size: 75px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        line-height: 1;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .info__descripcion {
        color: #4d4d4d;
        font-family: "Poppins", sans-serif;
    }

    .info__descarga {
        background: #9ab099;
        padding: 10px;
        border-radius: 20px;
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        margin-top: 1rem;
        display: inline-block;
        text-decoration: none;
    }

    .section-hero__info-image {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 300px 150px;
        gap: 10px;
    }

    .mini__project {
        grid-column: span 2 / span 2;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .imagen-miniprojects {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        object-fit: cover;
    }

    .info_user_project {
        position: absolute;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        box-sizing: border-box;
        width: 100%;
    }

    .info_user_project__details {
        display: flex;
        flex-direction: column;
    }

    .info_user_project__direct-projects {
        background: #c4e7fd;
        border-radius: 20px;
        display: flex;
        width: fit-content;
        padding: 5px 10px;
        text-decoration: none; /* Quita el subrayado del enlace */
        color: #000; /* Color de texto legible */
        cursor: pointer; /* Indica que es clicable */
    }

    .photo__profile {
        grid-column: span 3 / span 3;
        grid-column-start: 3;
        background: rgb(87, 84, 81);
        border-radius: 20px;
        overflow: hidden;
    }

    .image-profile {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .desc {
        grid-column: span 3 / span 3;
        grid-row-start: 2;
        background: linear-gradient(
            135deg,
            #888c6c 12%,
            #ffffff 45%,
            #888c6c 100%
        );
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        overflow: hidden;
    }

    .desc_container {
       display: flex;
       flex-direction: column;
    }

    .desc_text {
        width: 100%;
        display: flex;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        padding: 0px 10px;
        box-sizing: border-box;
    }

    .social__media {
        grid-column: span 2 / span 2;
        grid-column-start: 4;
        grid-row-start: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 5px;
        justify-items: center;
    }

    .social__media .item {
        background-color: rgb(255, 255, 255);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Media Queries */
    @media (max-width: 564px) {
        .section-hero {
            height: 100dvh;
            padding-block: 2rem;
        }
        .section-hero__container {
            display: flex;
            flex-direction: column;
        }
        .section-hero__info-user {
            max-width: 100%;
        }
        .photo__profile {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
        }
        .image-profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .title__especialidad {
            font-size: 3.5rem;
        }
        .section-hero__info-image {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .mini__project,
        .desc {
            display: none;
        }
    }

    @media (min-width: 564px) and (max-width: 767px) {
        .section-hero {
            height: 100dvh;
        }
        .section-hero__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .section-hero__info-user {
            max-width: 100%;
            text-align: center;
        }
        .title__especialidad {
            font-size: 3.5rem;
            margin-top: 1rem;
        }
        .info__descripcion {
            font-size: 1rem;
        }
        .info__descarga {
            margin-top: 1.5rem;
            padding: 10px 20px;
        }
        .section-hero__info-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .photo__profile {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
        }
        .image-profile {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .estado {
            margin-top: 1rem;
            justify-content: center;
            font-size: 0.85rem;
        }
        .social__media {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
        }
        .social__media .item {
            width: 50px;
            height: 50px;
            padding: 8px;
        }
        .mini__project,
        .desc {
            display: none;
        }
    }

    @media (min-width: 768px) and (max-width: 1200px) {
        .section-hero {
            height: 100dvh;
            width: 100%;
        }
        .section-hero__info-user {
            max-width: 100%;
        }
        .mini__project,
        .desc {
            display: none;
        }
        .section-hero__container {
            display: flex;
        }
        .section-hero__info-image {
            display: flex;
            flex-direction: column;
        }
        .photo__profile {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            overflow: hidden;
        }
        .title__especialidad {
            font-size: 4rem;
            margin-top: 1rem;
        }
        .info__descripcion {
            font-size: 1rem;
        }
        .info__descarga {
            margin-top: 1.5rem;
            padding: 10px 20px;
        }
        .image-profile {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
</style>