---
import Code from "../assets/Icon/Code.astro";
import ProyectoIniciarSesion from "../assets/ProyectoIniciarSesion.webp";
import ProyectoCRUD from "../assets/ProyectoCrud.webp";
import SstemaAccesos from "../assets/Sistema-Accesos.webp";
import SistemaMMW from "../assets/MensajeMasivoWhastApp.webp";
import Constructora from "../assets/constructora.webp";
import PruebaTecnica from "../assets/PruebaTecnicaTicTecnologie.webp";
import ProyectoETLDatos from "../assets/ProyectoETLDatos.webp";

const projects = [
    {
        title: "Sistema de Autenticación y Autorización",
        description:
            "Sistema con autenticación JWT y gestión de roles en Spring Security y Angular. Implementa almacenamiento cifrado de contraseñas y control de acceso por niveles de usuario.",
        image: ProyectoIniciarSesion,
        link: "",
        youtube: "https://youtu.be/7nzJP-i-2mc",
        GitHub: [
            {
                name: "Backend",
                url: "https://github.com/LionelOrh/Sistema-Autenticacion-Autorizacion-Backend.git",
            },
            {
                name: "Frontend",
                url: "https://github.com/LionelOrh/Sistema-Autenticacion-Autorizacion-FrontEnd.git",
            },
        ],
        technologies: [
            {
                name: "Spring Boot",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg",
            },
            {
                name: "Angular",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg",
            },
            {
                name: "MySQL",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg",
            },
        ],
        featured: true,
    },
    {
        title: "Sistema de Gestión de Ingresos y Salida con lector de Códigos de Barras",
        description:
            "Aplicación para control de accesos con Spring Boot y Angular. Escaneo de códigos de barras para registrar entradas y salidas, con almacenamiento en MySQL.",
        image: SstemaAccesos,
        link: "",
        youtube: "",
        GitHub: [
            {
                name: "Backend",
                url: "https://github.com/LionelOrh/Prueba-Tecnica-MCC-Backend.git",
            },
            {
                name: "Frontend",
                url: "https://github.com/LionelOrh/Prueba-Tecnica-MCC-FrontEnd.git",
            },
        ],
        technologies: [
            {
                name: "Spring Boot",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg",
            },
            {
                name: "Angular",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg",
            },
            {
                name: "MySQL",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg",
            },
        ],
        featured: true,
    },
    {
        title: "Sistema de Envío Masivo de Mensajes a WhatsApp",
        description:
            "Servicio en Spring Boot que automatiza el envío de mensajes masivos a WhatsApp mediante API. Incluye interfaz para gestión de plantillas y monitoreo de entregas.",
        image: SistemaMMW,
        link: "",
        youtube: "https://youtu.be/iIf70ux5yyM",
        GitHub: [
            {
                name: "Code",
                url: "https://github.com/LionelOrh/Mensajes-Masivos-WhatsApp.git",
            },
        ],
        technologies: [
            {
                name: "Spring Boot",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg",
            },
            {
                name: "Insomnia",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/insomnia/insomnia-original.svg",
            },
        ],
        featured: false,
    },
    {
        title: "Gestión de Registros (CRUD)",
        description:
            "Aplicación CRUD con API REST en Spring Boot y frontend en React con Tailwind CSS. Implementa operaciones completas para crear, leer, actualizar y eliminar registros.",
        image: ProyectoCRUD,
        youtube: "https://youtu.be/ZTEP-COi5qI",
        GitHub: [
            {
                name: "Backend",
                url: "https://github.com/LionelOrh/Prueba-Tecnica-MCC-Backend.git",
            },
            {
                name: "Frontend",
                url: "https://github.com/LionelOrh/Prueba-Tecnica-MCC-FrontEnd.git",
            },
        ],
        technologies: [
            {
                name: "Spring Boot",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg",
            },
            {
                name: "React",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg",
            },
            {
                name: "Tailwind CSS",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg",
            },
            {
                name: "MySQL",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg",
            },
        ],
        featured: false,
    },
    {
        title: "Constructora JAIL.SAC",
        description:
            "Sitio web corporativo para empresa constructora con diseño moderno y responsive. Desarrollado con Astro para optimizar rendimiento y experiencia de usuario en diferentes dispositivos.",
        image: Constructora,
        link: "https://www.jailconstructorasac.com/",
        youtube: "",
        GitHub: [
            {
                name: "Code",
                url: "https://github.com/LionelOrh/proyecto-jail-constructora-sac.git",
            },
        ],
        technologies: [
            {
                name: "Astro",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg",
            },
            {
                name: "Html",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg",
            },
            {
                name: "CSS",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg",
            },
        ],
        featured: true,
    },
    {
        title: "Calculadora de Bonificaciones de Gaseosas",
        description:
            "Aplicación para cálculo de bonificaciones con formularios dinámicos y tablas interactivas. Backend en FastAPI (Python) y frontend en React, con despliegue continuo en Vercel.",
        image: PruebaTecnica,
        link: "https://prueba-tecnica-bonificaciones-front.vercel.app/",
        youtube: "",
        GitHub: [
            {
                name: "Backend",
                url: "https://github.com/LionelOrh/PruebaTecnica-Bonificaciones-BackEnd.git",
            },
            {
                name: "Frontend",
                url: "https://github.com/LionelOrh/PruebaTecnica-Bonificaciones-FrontEnd.git",
            },
        ],
        technologies: [
            {
                name: "Python",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg",
            },
            {
                name: "React",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg",
            },
            {
                name: "Vite",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vite/vite-original.svg",
            },
        ],
        featured: false,
    },
    {
        title: "Procesamiento ETL de Datos Empresariales (ACME)",
        description:
            "Proyecto técnico desarrollado en Spring Boot para la empresa ficticia ACME. Implementa un proceso ETL que carga de forma masiva datos desde archivos Excel usando EasyExcel y los almacena en PostgreSQL. Incluye endpoints CRUD y consultas SQL analíticas.",
        image: ProyectoETLDatos, // ← aquí pones la imagen que uses en tu portafolio
        link: "",
        youtube: "",
        GitHub: [
            {
                name: "Code",
                url: "https://github.com/LionelOrh/etl-data-processor.git",
            },
        ],
        technologies: [
            {
                name: "Spring Boot",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg",
            },
            {
                name: "PostgreSQL",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg",
            },
            {
                name: "EasyExcel",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg", // no hay ícono oficial, usa el de Java
            },
            {
                name: "Insomnia",
                icon: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/insomnia/insomnia-original.svg",
            },
        ],
        featured: false,
    },
];

import ProjectItem from "./ProjectItem.astro";
const featuredProjects = projects.filter((project) => project.featured);
const normalProjects = projects.filter((project) => !project.featured);
---

<section class="section-projects" id="proyectos">
    <div>
        <div class="section-projects__title">
            <Code />
            <span>Proyectos Destacados</span>
        </div>

        <div class="projects_container">
            {
                featuredProjects.map((project) => (
                    <ProjectItem project={project} />
                ))
            }
        </div>
    </div>

    <div>
        <div class="section-projects__title">
            <Code />
            <span>Proyectos Completos</span>
        </div>

        <div class="projects_container">
            {normalProjects.map((project) => <ProjectItem project={project} />)}
        </div>
    </div>
</section>

<style>
    .section-projects {
        padding-inline: clamp(1rem, 5vw, 80px);
        font-family: "Poppins", sans-serif;
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra horizontalmente el contenido */
        width: 100%;
        box-sizing: border-box; /* Esta línea es crucial */
        gap: 4rem; /* Espacio entre las dos secciones de proyectos */
    }

    .section-projects__title {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #ffffff;
        text-shadow: 0 2px 10px rgba(154, 176, 153, 0.3);
        margin-bottom: 30px;
        width: 100%; /* Para que el encabezado ocupe todo el ancho disponible */
        max-width: 1200px; /* Igual que el timeline para consistencia */
    }

    .section-projects__title span {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .projects_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        width: 100%;
        max-width: 1200px; /* Mismo ancho máximo que en Experiencia */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
    }

    .project_container__item {
        background: linear-gradient(135deg, #2a2d3a 0%, #333642 100%);
        padding: 1.25rem;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-shadow: 0 8px 32px rgba(31, 38, 135, 0.15);
        transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;
        height: 100%;
        /* Aseguramos que el padding no afecte el cálculo del espaciado */
        box-sizing: border-box;
    }

    .project_container__item:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 40px rgba(31, 38, 135, 0.25);
    }

    .tech-icon {
        width: 15px;
        height: 15px;
    }

    .tech-item {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: rgba(74, 72, 122, 0.5);
        border-radius: 20px;
        padding: 2px 10px;
        backdrop-filter: blur(4px);
    }

    .tech-item__name {
        color: #ffffff;
        font-size: 0.8rem;
    }

    .project__details {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tech-stack {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap; /* Permite que las tecnologías fluyan a la siguiente línea si es necesario */
    }

    .project-links {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .btn {
        display: flex;
        align-items: center;
        gap: 5px;
        background: linear-gradient(135deg, #2c5b61 0%, #3d8490 100%);
        color: #ffffff;
        padding: 5px 10px;
        border-radius: 20px;
        font-weight: 300;
        text-decoration: none;
    }

    .project-github {
        display: flex;
        gap: 10px;
    }

    .project-image-container {
        width: 100%;
        height: 200px;
        overflow: hidden;
        border-radius: 20px;
    }

    .project_img {
        max-width: 100%;
        height: 100%;
        transition: transform 0.3s ease-in-out;
        object-fit: cover;
    }

    .project-image-container:hover .project_img {
        transform: scale(1.1);
    }

    .project_title {
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 0.5rem;
        background: linear-gradient(90deg, #ffffff, #9ab099);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .project_descripcion {
        font-size: 0.9rem;
        color: #e0e0e0;
        line-height: 1.5;
    }

    /* Diseño responsive adaptado del componente Experiencia */
    @media screen and (max-width: 768px) {
        .projects_container {
            grid-template-columns: 1fr;
            gap: 2rem;
        }

        /* Ajuste de margen superior para mejor espaciado en móvil */
        .project-links {
            margin-top: 1rem;
        }
    }

    /* Diseño para tablets */
    @media screen and (min-width: 768px) and (max-width: 992px) {
        .projects_container {
            grid-template-columns: repeat(2, 1fr);
            gap: 2.5rem;
        }
    }
</style>
